@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: $font-family;
}
/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #25405f21;
    // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1d3557;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #224670;
}
