$font-family: "Assistant", sans-serif;
$transition: all .3s cubic-bezier(.25,.8,.05,1);

$main-color:#CF3AA0;
$secondary-color:#212843;
$background-color:#F0F2F5;
$faded-color:#798097;

$header-height: 64px;
$drawer-width-open: 224px;
$drawer-width-closed: 0px;

$xl: 1920px - 1px;
$lg: 1280px - 1px;
$md: 960px - 1px;
$sm: 600px - 1px;